# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Senparc.Weixin/Senparc.Weixin/bin/Debug
/Senparc.Weixin/Senparc.Weixin/obj
/Senparc.Weixin.MP/Senparc.Weixin.MP/obj
/Senparc.Weixin.MP/Senparc.Weixin.MP.Test
/Senparc.Weixin.MP/Senparc.WeixinTests
/Senparc.Weixin.MP.BuildOutPut
/Senparc.Weixin.MP.Sample/packages
/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.Tests
/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.CommonService/bin
/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.CommonService/obj
/WeiXinYiShengCollege/Senparc.Weixin.MP.Sample.CommonService.Test
/WeiXinYiShengCollege/WeiXinYiShengCollege/obj
/WeiXinYiShengCollege/WeiXinYiShengCollege/log
/WeiXinYiShengCollege/WeiXinYiShengCollege/bin
/WeiXinYiShengCollege/.vs
/WeiXinYiShengCollege/WeiXinYiShengCollege.Business/bin
/WeiXinYiShengCollege/WeiXinYiShengCollege.Business/obj
/WeiXinYiShengCollege/WeiXinYiShengCollege.Business.Test
