<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  
  <appSettings>
    <!-- URL对接信息 -->
    <add key="WeixinToken" value="yisheng"/>
    <add key="WeixinEncodingAESKey" value="RU7GVsr38xvq2fBYRSOQcBUcE6M2fd3sH3WMuTDuN9j"/>
    <!-- 高级接口信息 -->
    <add key="WeixinAppId" value="wx46931bc46aa2658d"/>
    <add key="WeixinAppSecret" value="b1b3cb6779bbf1bc3940dfdefedbd51f"/>
    <!-- SDK提供的代理功能设置 -->
    <add key="WeixinAgentUrl" value="外部代理Url"/>
    <add key="WeixinAgentToken" value="外部代理Token"/>
    <add key="WeixinAgentWeiweihiKey" value="外部代理WeiWeiHiKey"/>
    <!-- 微信支付相关参数 -->
    <!-- 微信支付V2 -->
    <add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay"/>
    <add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId"/>
    <add key="WeixinPay_Key" value="WeixinPay_Key"/>
    <add key="WeixinPay_AppId" value="WeixinPay_AppId"/>
    <add key="WeixinPay_AppKey" value="WeixinPay_AppKey"/>
    <add key="WeixinPay_TenpayNotify" value="WeixinPay_TenpayNotify"/>
    <!-- 微信支付V3 -->
    <add key="TenPayV3_MchId" value="TenPayV3_MchId"/>
    <add key="TenPayV3_Key" value="TenPayV3_Key"/>
    <add key="TenPayV3_AppId" value="TenPayV3_AppId"/>
    <add key="TenPayV3_AppSecret" value="TenPayV3_AppSecret"/>
    <add key="TenPayV3_TenpayNotify" value="TenPayV3_TenpayNotify"/>
    <!-- 开放平台 -->
    <add key="Component_Appid" value="Component_Appid"/>
    <add key="Component_Secret" value="Component_Secret"/>
    <add key="Component_Token" value="Component_Token"/>
    <add key="Component_EncodingAESKey" value="Component_EncodingAESKey"/>
    <!--0：可以任意浏览器打开 1：微信内部打开-->
    <add key="SideInWeixinBrowser" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
